# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\[P.Y.G]IDA Pro 7.5 SP3(x86, x64, ARM, ARM64, PPC, PPC64, MIPS)\myCustomTool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
